LOADING DATA SET

LOAD ANY ONE DATASET TO PYTHON AND CHECK ALL THE BASIC INFORMATIONS

In [3]:
import numpy as np

In [5]:
import pandas as pd

In [9]:
elect=pd.read_csv(r"C:\Users\91994\OneDrive\Desktop\Dataset\primary_results.csv")
elect

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [13]:
elect.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [15]:
elect.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [17]:
elect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24611 entries, 0 to 24610
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               24611 non-null  object
 1   state_abbreviation  24611 non-null  object
 2   county              24611 non-null  object
 3   fips                24511 non-null  float64
 4   party               24611 non-null  object
 5   candidate           24611 non-null  object
 6   votes               24611 non-null  int64
 7   fraction_votes      24611 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

In [19]:
elect.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [23]:
elect.describe(include='all')

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
count,24611,24611,24611,2.451100e+04,24611,24611,24611.000000,24611.000000
unique,49,49,2633,NaN,2,16,NaN,NaN
top,Massachusetts,MA,Washington,NaN,Republican,Bernie Sanders,NaN,NaN
freq,2808,2808,182,NaN,15652,4205,NaN,NaN
mean,NaN,NaN,NaN,2.667152e+07,NaN,NaN,2306.252773,0.304524
std,NaN,NaN,NaN,4.200978e+07,NaN,NaN,9861.183572,0.231401
min,NaN,NaN,NaN,1.001000e+03,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,2.109100e+04,NaN,NaN,68.000000,0.094000
50%,NaN,NaN,NaN,4.208100e+04,NaN,NaN,358.000000,0.273000
75%,NaN,NaN,NaN,9.090012e+07,NaN,NaN,1375.000000,0.479000
max,NaN,NaN,NaN,9.560004e+07,NaN,NaN,590502.000000,1.000000

In [25]:
elect.shape

(24611, 8)

In [27]:
elect.isna().sum()

state                   0
state_abbreviation      0
county                  0
fips                  100
party                   0
candidate               0
votes                   0
fraction_votes          0
dtype: int64

In [29]:
elect.duplicated().sum()

0

In [31]:
elect.nunique()

state                   49
state_abbreviation      49
county                2633
fips                  4207
party                    2
candidate               16
votes                 5548
fraction_votes        1043
dtype: int64

In [33]:
elect.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object